<footer class="footer text-faded text-center py-5">
    <div class="container"><p class="m-0 small">Copyright &copy; Your Website 2021</p></div>
    <!-- instagram twitter email phone -->
</footer>



<form method="post" action="{% url 'wiki' %}">
    {% csrf_token %}
    <h4 class="display-6">새 위키 페이지 만들기:</h4>
    <h6 class="post-title">과목: </h6>
    <!-- <textarea name="title"cols="40" rows="1"></textarea> -->
    <input type="text" title="입력" name="input1" size="62" maxlength="30" placeholder="과목 분류">        
    <br>

    <input type="text" title="입력" name="input2"style="width:500px;height:200px;font-size:15px;" placeholder="내용을 입력하세요.">        
    <br>
    <input  type="submit" value="저장"  />
    <input type="button" value="취소" href="{% url 'wiki' %}" />
    <!-- <input type="file"> -->
    <input type="hidden" name="inputhidden" value="서버로 전송할 값">
</form>



<div class = "row">
    <div class = "col-lg-8 col-md-10 mx-auto">  
<form method = "POST" action = "{% url 'comment_write' post.bpost_id %}" enctype="multipart/form-data" class = "col-lg-10 col-md-12 mx-auto">
    {% csrf_token %}
    <input type = "hidden" name = "post_id" value = "{{post.bpost_id}}">
    <div class = "form-group row">
        <textarea class = "form-control" name = "content" rows = "4" placeholder="댓글을 입력해주세요."></textarea>
    </div>
    <!-- <div class = "form-group column float-right">
        <button type = "submit" class = "btn btn-primary">저장</button>
        <button type = "button" class = "btn btn-secondary"  onclick="moveNotice()">취소</button>
    </div> -->
</form>  

<div class = "col-lg-8 col-md-15 mx-auto">
    <a href = "{% url 'notice' %}" class = "btn btn-secondary float-right">목록</a>
    <a href = "{% url 'comment_write' post.bpost_id %}" class = "btn btn-primary float-right">댓글쓰기</a>
</div>
</div>
</div>