{% extends 'layouts/default/page.html' %}

{% load i18n %}
{% load static %}

{% block content %}

    <header>
        <h1 class="site-heading text-center text-faded d-none d-lg-block">
            <span class="site-heading-upper text-primary mb-3">Collective Intelligence</span>
            <span class="site-heading-lower">OF BY FOR ~ STUDENT </span>
        </h1>
    </header>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
        <!-- <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'wiki' %}">Archive</a></li>
                    <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'quiz' %}">Review</a></li>
                    <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'qna' %}">QNA</a></li>
                </ul>
            </div>
        </div> -->
    </nav>
    <div class="row">
        <div class="sidebar">
            <h2 class="display-3">Wiki</h2>
            <form method="post" action="{% url 'index' %}">
            <!-- {% csrf_token %} -->
                <!-- {{form.item}} -->
            </form>
            <div>
                <!-- <a class="top nav-link" href="{% url 'wiki' %}">Wiki</a> -->
            </div>
            <div>
                <a class="nav-link" href="{% url 'wikiCreate' %}">새로운 위키 만들기</a>
                <ol id = 'wikiList'></ol>
            </div>
        </div>
    </div>
    <ul>
        {% for post in posts %}
        <!-- <a href="{% url 'wikiPost' post.post_id %}"> <li>{{post.title }}{{post.summary}}{{post.updated_at}}</li> </a> -->
        <div class="card-columns"> 
        <!-- column-count: 4 -->
            <div class="card bg-light mb-3" style="max-width: 540px;">
                <div class="row">
                    <div class="col-md-18">
                        <div class="card-body"><a href="{% url 'wikiPost' post.post_id %}">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{post.summary}}</p></a>
                            <p class="card-text">
                                <small class="text-muted">Created at: {{ post.created_at }}</small><br/>
                                <small class="text-muted">Updated at: {{ post.updated_at }}</small>
                            </p>
                        </div>
                    </div>
                </div>           
            </div>
        </div>
        {% endfor %}
    </ul>

    <!-- <ul id="list">
        <li>항목1</li>
    </ul>
    <button onclick="add">버튼</button>
    <script>  
        function add()  
        {  
            $("#list").append("<li>항목2</li>");  
        }  
    </script>   -->
    
    
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{% static 'js/scripts.js' %}"></script>

{% endblock %}
