   <!-- Navigation-->
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="index.html">온라인 학습 커뮤니티</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <!-- 로그인 전 dropdown 회원가입 -->
                <li class="nav-item"><a class="nav-link" href="index.html">△△학교</a></li>
                <li class="nav-item"><a class="nav-link" href="about.html">OO님</a></li>
                <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="faq.html">FAQ</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">마이페이지</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                        <li><a class="dropdown-item" href="blog-home.html">나의 클래스</a></li>
                        <li><a class="dropdown-item" href="blog-post.html">수강 과목</a></li>
                        <li><a class="dropdown-item" href="blog-post.html">나의 질문답변</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="pricing.html">로그아웃</a></li>
            </ul>
        </div>
    </div>
</nav>